.loading {
  padding: 2em 0;
  text-align: center;
}

.container {
  position: relative;
  padding: 3em 10em;
  height: 100vh;
}

.movie_link_back {
  position: absolute;
  left: calc(10em - 32px);
  top: calc(3em - 32px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #fff;
  transition: 0.4s;
}

.movie_link_back svg path {
  stroke: #000;
  transition: 0.4s;
}

.movie_link_back:hover {
  background-color: #000;
}

.movie_link_back:hover svg path {
  stroke: #fff;
}

.movie_detail {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em 4em;
  max-height: calc(100vh - 6em);
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie_detail_top {
  display: flex;
  align-items: flex-end;
  gap: 2em;
  height: 40%;
}

.movie_img {
  width: auto;
  height: 100%;
}

.movie_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.6em;
}
.movie_info > * + * {
  margin-top: 0.5em;
}

.movie_title {
  font-size: 2.8em;
}

.list_genres {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
}

.movie_genre + .movie_genre:before {
  content: "•";
  padding-right: 0.4em;
}

.movie_summary_box {
  flex: 1;
  max-height: calc((100vh - 4em) / 2 - 3em);
  overflow-y: auto;
}

.movie_summary {
  font-size: 1.3em;
  line-height: 1.4;
}

@media screen and (max-width: 1340px) {
  .movie_link_back {
    width: 48px;
    height: 48px;
    left: calc(10em - 24px);
    top: calc(3em - 24px);
  }

  .movie_link_back svg {
    width: 2em;
    height: 2em;
  }

  .movie_detail {
    gap: 1em 2em;
  }

  .movie_info {
    font-size: 1.2em;
  }

  .movie_summary {
    font-size: 1.1em;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 3em 6em;
  }

  .movie_link_back {
    left: calc(6em - 24px);
  }

  .movie_detail {
    padding: 2em;
    max-height: calc(100vh - 6em);
  }

  .movie_title {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 930px) {
  .movie_detail {
    display: block;
  }

  .movie_img_box {
    display: none;
  }

  .movie_summary_box {
    max-height: calc((100vh - 2em) / 2);
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    height: 100%;
  }

  .movie_link_back {
    position: static;
  }

  .movie_detail {
    max-height: none;
  }

  .movie_detail_top {
    display: block;
  }

  .movie_info,
  .movie_summary {
    font-size: 1em;
    margin-top: 1em;
  }

  .movie_img_box {
    display: block;
    text-align: center;
  }
}
